$mobile-width: 380px;
$tablet-width: 600px;
$desktop-width: 1200px;

$col-number: 12;
$col-base: 100% / $col-number;

$colorPlayer1: #A0F;
$colorPlayer2: #FA0;

$off-white: #FAFAFA;
$secondary-color: #050505;
