html {
  font-size: 40px; }

body {
  background-color: #FFF;
  margin: 0;
 }
*{
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
.circle{
  background-color: #EEE;
}
.bell, .messages{
  width: 100px;
  height: 100px;
  background-color: #EEE;
  border-radius: 50%;
}
.bell__wrapper{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation-name: swing;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards
}
.icons{
  margin: 0 auto;
  width: 200px;
  height: auto;
  display:flex;
  justify-content: flex-start;
  align-content: space-between
}
footer{
  font-size: 10px;
}
h1{
  font-size: 16px;
  margin: 0 auto;
}
.up, .down{
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  border-radius: 50%;
  background-color: #55C;
  color: #FFF;
  margin: 0 auto;
}
.up{
  top: 20px;
}
.down{
  bottom: 20px;
}
#messages__body{
  transition: all .6s ease;
}
#messages__body:hover{
  transform: scale(1.1);
  transform-origin: center;
}
.messages--body{
  fill:#55C;  
}
.bell--body{
  fill:#55C;
}
.preloader__line{
  height: 5px;
}
.line--blue{
  stroke-dasharray: 100;
  stroke-dashoffset: 200;
  animation: dash 8s linear infinite;
}

.circle--blue{
  stroke-dasharray: 100;
  stroke-dashoffset: 200;
  animation: dash 4s linear infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 400;
  }
  to {
    stroke-dashoffset: -400;
  }
}

.circles--rotate{
  animation: spin 3s linear infinite;
  transform-origin: center;
}

.circle-1, .circle-4{
  animation: blink 1.5s linear infinite;
}
.circle-2, .circle-3{
  animation-delay: .5s;
  animation: blink 3s linear infinite;
}

@keyframes blink{
  from {
    fill:#55C
  }
  to{
    fill: #EEE
  }
}

@keyframes spin{
  from {
    transform: rotateZ(0deg)
  }
  to{
    transform: rotateZ(360deg)
  }
}

.bell--heart{
  fill: #55C;
  animation-name: ring;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; 
}
#line{
  background-color: #BBB;
}

@keyframes swing{
  0% {transform: rotate(30deg)}
  25% {transform: rotate(-30deg)}
  50% {transform: rotate(30deg)}
  75% {transform: rotate(-30deg)}
  100% {transform: rotate(0deg)}
}

@keyframes ring{
  0% {transform: translateX(-20px)}
  25% {transform: translateX(20px)}
  50% {transform: translateX(-20px)}
  75% {transform: translateX(20px)}
  100% {transform: translateX(0px)}
}

.calendar{
  width: 280px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}
.calendar__header{
  font-weight: 700;
  display: flex;
  flex-flow: row nowrap;
}
.calendar__header div{
  width: 38px;
  font-size: 14px;
  text-align: center;
}
.calendar__body{
  display: flex;
  flex-flow: row wrap;

}
.calendar__body div{
  margin: 5px 0;
  width: 39px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  padding: 8px 0;
}
.today{
  background-color: #00F
}

.clock{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.bell:hover{
  border: 1px solid #BBB;
  border-radius: 10px;
}
.clock__body{
  margin-top: 20px;
}
.clock__body:hover{
  border: 1px solid #BBB;
  border-radius: 10px
}
.calendar:hover{
  border: 1px solid #BBB;
  border-radius: 10px
}

.datepicker{
  width: 60vw;
  margin: 0 20vw;
}
#ui-datepicker-div{
  transform: scale(0.6);
  transform-origin: bottom;
}

#progressBar{
  transition: all 1s ease;
}
.slide-1{
  transition: all 1s ease;
  width: 400px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1508312030249-2d7c1e7f66c4?auto=format&fit=crop&w=1050&q=80")
}
.slide-2{
  transition: all 1s ease;
  width: 400px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1507037102386-199766bac257?auto=format&fit=crop&w=1040&q=80")
}
.slide-3{
  transition: all 1s ease;
  width: 400px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1503022932596-500eb8cca2d8?auto=format&fit=crop&w=400&q=80")
}
.slide-0{
  transition: all 1s ease;
  width: 400px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1498637841888-108c6b723fcb?auto=format&fit=crop&w=1191&q=80")
}
.slides__wrapper{
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}
#prev, #next{
  border-radius: 10px;
  border-style:none;
  opacity: .2;
  transition: all .6s ease;
}
#prev:hover, #next:hover{
  opacity: .8;
}
.slides__wrapper:hover{
  border: 1px solid #BBB;
  border-radius: 10px
}
.progressBar{
  margin: 10px;
}
#play{
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #55C;
  border-style: none;
  font-size: 8px;
}
/* @keyframes slideSideways{
  0% {transform: translateX(1000px)}
  80%{transform: translateX(-20px)}
  100%{transform: translateX(0px)}
}
@keyframes blush {
  0% { color: #ffb3ba ;transform: translateY(-5px)}
  60% { color: #FFb3ba; transform: translateY(-10px) }
  100% { color: #FAFAFA; transform: translateY(0px)}
}
@keyframes puff {
  from {opacity: 0.9;  transform: scale(1.75)};
  to {opacity: 1;  transform: scale(1)}
}
@keyframes smile{
  from{transform: translateY(-5px)};
  to{transform: translateY(0px)}
} */

